<h2>Sneaker Info Page</h2>

<h3><label>Sneaker:<label></h3>
<h2><%=@sneaker.title%><h2>

<h3><label>Style:</label></h3>
<h2><%=@sneaker.style%></h2><br>

<h3><label>Color:</label></h3>
<h2><%=@sneaker.color%></h2>

<h3><label>Photo:</label></h3>
<h2><%= image_tag @sneaker.sneaker_img%></h2>
